@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';
.maker {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: makerWhite;
}

.container {
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
